/**
 * This is the main scss file which includes your
 * various variables and partials and whatever else you might
 * need.
 *
 * Gulp will compile this over to ../css/screen.css (instead of
 * leaving this job to jekyll, because we love browsersync
 * and the flexibility of gulp)
 */

@import "normalize";
@import "animations";

$highlight: #41ead4;
$dark: #171c1a;
$light: #f0f2ef;

body {
  margin: 1vw;
  font-family: "Roboto Mono", monospace;
  line-height: 1.55;
  color: $dark;
}

a {
  text-decoration-skip: ink;
}

.page-content {
  padding: 7vw;
  padding-bottom: 1vw;
  max-width: 620px;
  margin: 0 auto;
  perspective: 1000px;
  //perspective-origin: top left;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotateX(0) rotateY(0) translateZ(-100px);

  #logo {
    stroke: $dark;
    stroke-width: 4px;
    fill: transparent;
    width: 30vw;
    max-width: 150px;
    margin-bottom: 5vw;
  }

  .intro-text {
    font-size: 4vw;

    @media (min-width: 650px) {
      font-size: 25px;
    }

    a {
      color: $highlight;
    }

    p:nth-child(1) {
      animation: fadeIn 0.5s 4.2s ease-out backwards;
    }

    p:nth-child(2) {
      animation: fadeIn 0.5s 4.5s ease-out backwards;
    }

    p:nth-child(3) {
      animation: fadeIn 0.5s 4.8s ease-out backwards;
    }

    p:nth-child(4) {
      animation: fadeIn 0.5s 5s ease-out backwards;
    }
  }

  .angellist {
    animation: fadeIn 0.5s 6s ease-out backwards;
    margin-top: 10vw;
    width: 30px;

    &:hover svg {
      animation: wave 1s linear infinite;
      transform-origin: center 70%;
    }
  }
}

#photo {
  img {
    display: block;
    width: 100%;
  }
}

.imprint {
  margin-top: 10vw;
  padding-left: 2vw;

  a {
    color: $dark;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
  }
}
