---
layout: default
permalink: "/impressum/"
---

<h1>Impressum</h1>

<h2>Angaben gemäß § 5 TMG:</h2>
<p>Mathias Mortag & Nils Borgböhmer<br />
strandrover<br />
Hardenbergstr. 18<br />
60327 Frankfurt</p>

<h2>Kontakt:</h2>
<p>Telefon: +491728559529<br />
E-Mail: hello@strandrover.com</p>

<h2>Umsatzsteuer:</h2>
<p>Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br />
DE301242604</p>
