---
layout: default
---

<section id="intro">
  {% include logo.svg %}

  <main class="intro-text">
    <p>strandrover is a design bureau consisting of Mathias and Nils.</p>
    <p>We design and build websites, apps, user interface systems, care for the user's experience, always work with the latest tech, have a lot of experience with brand strategy and startups, and still don't find the time for our own website <br>(ノಠ益ಠ)ノ彡┻━┻</p>
    <p>If you're interested in working with us, you can reach us here:</p>

    <p class="contact">
      <a href="mailto:hello@strandrover.com">hello@strandrover.com</a>
    </p>

    <nav class="angellist">
      <a href="https://angel.co/strandrover-agency">
        {% include angellist.svg %}
      </a>
    </nav>
  </main>
</section>

<nav class="imprint">
  <a href="/impressum">Impressum</a>
</nav>
